.venv/*
data/places_*.json
data/crawl_data
crawl/.DS_Store
.DS_Store
data/titles
data/crawl_state.pkl
crawl/lid.176.bin
*.pyc
unavailable_urls.pkl

__pycache__/
*/__pycache__

data/corpus100.pkl
data/inverted
data/inverted_index
data/prep_data
data/inv.pkl
data/inverted_index.pkl
data/urls.pkl
data/BoW
data/dock_len.pkl
data/keys.txt
data/inverted_index_2
data/prep_data2
data/prep_sets
data/sus_chars.txt
data/backward_db
data/bm25/inv50_blocks
data/bm25/inv100_blocks
data/bm25/
data/forward_db
data/forward_db_cp
data/word_counts.pkl
data/words_sorted.txt
data/words100k.txt

test.ipynb
data/falafel_result.pkl
data/falafel_result2.pkl