.venv/*
data/places_*.json
data/crawling_data/crawl_data
crawl/.DS_Store
.DS_Store
data/runtime_data/titles
data/crawling_data/crawl_state.pkl
crawl/lid.176.bin
*.pyc
unavailable_urls.pkl

__pycache__/
*/__pycache__